<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1 class="text-danger text-center"> {{ title }} </h1>
  <hr/>

  <div *ngIf="myResponse">
    <table class="table table-bordered table-hover">
      <thead>
        <th>Id: </th>
        <th>Serijski Broj: </th>
        <th>Vazi od: </th>
        <th>Vazi do: </th>
        <th>Alijas: </th>
      </thead>

      <tbody>
        <tr *ngFor=" let certificate of myResponse ">
          <td>{{certificate.id}}</td>
          <td>{{certificate.serialNumber}}</td>
          <td>{{certificate.validFrom}}</td>
          <td>{{certificate.validTo}}</td>
          <td>{{certificate.alias}}</td>
          <td><button (click)="revoke(certificate)">Revoke</button></td>
          <td><button (click)="check(certificate)">Check Status</button></td>
        </tr>
      </tbody>
    </table>

  </div>


</div>

</body>

</html>
