<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1 class="text-danger text-center"> {{ title }} </h1>
  <hr/>

  <div *ngIf="myResponse">
    <table class="table table-bordered table-hover">
      <thead>
        <th>SubjName: </th>
        <th>SubjOrgName: </th>
        <th>SubjCountry: </th>
        <th>IssName: </th>
        <th>IssOrgName: </th>
        <th>IssCountry: </th>
        <th>SerialNumber: </th>
        <th>StartDate: </th>
        <th>EndDate: </th>
      </thead>

      <tbody>
        <tr *ngFor=" let proba of myResponse ">
          <td>{{proba.subjName}}</td>
          <td>{{proba.subjOrgName}}</td>
          <td>{{proba.subjCountry}}</td>
          <td>{{proba.issName}}</td>
          <td>{{proba.issOrgName}}</td>
          <td>{{proba.issCountry}}</td>
          <td>{{proba.serialNumber}}</td>
          <td>{{proba.startDate}}</td>
          <td>{{proba.endDate}}</td>
        </tr>
      </tbody>
    </table>

  </div>


</div>

</body>

</html>
