<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
  </style>
</head>

<body>
<div class="w3-main" >
  <h1 class="text-danger text-center"><b> {{ title }} </b></h1>
  <hr/>

  <div *ngIf="myResponse">
    <table class="table table-bordered table-hover">
      <thead>
  <!--      <th>Id: </th> -->
  <!--      <th>SubjName: </th> -->
  <!--      <th>SubjOrgName: </th> -->
  <!--      <th>SubjCountry: </th> -->
        <th>IssName: </th>
        <th>IssOrgName: </th>
        <th>IssCountry: </th>
        <th>SerialNumber: </th>
        <th>StartDate: </th>
        <th>EndDate: </th>
      </thead>

      <tbody>
        <tr *ngFor=" let proba of myResponse ">
          <!--      <td>{{proba.id}}</td> -->
          <!--       <td>{{proba.subjName}}</td> -->
          <!--        <td>{{proba.subjOrgName}}</td> -->
          <!--         <td>{{proba.subjCountry}}</td> -->
                   <td>{{proba.issName}}</td>
                   <td>{{proba.issOrgName}}</td>
                   <td>{{proba.issCountry}}</td>
                   <td>{{proba.serialNumber}}</td>
                   <td>{{proba.startDate}}</td>
                   <td>{{proba.endDate}}</td>
                   <td><button (click)="revoke(proba)">Revoke</button></td>
                   <td><button (click)="check(proba)">Check Status</button></td>
                   <td><button (click)="download(proba)">Download</button></td>
                 </tr>
               </tbody>
             </table>

           </div>


         </div>

         </body>

         </html>
