<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}

  </style>
</head>

<body>
<!-- Sidebar/menu -->
<div class="w3-sidebar  w3-red w3-collapse w3-top  w3-large w3-padding w3-bar-block" style="z-index:3;width:300px;margin-left:0px;font-weight:bold;"><br>

    <h3 class="w3-padding-64"><i class="fa fa-user" aria-hidden="true"></i> <b>  Admin</b></h3>

  <a routerLink="/selfSigned/generate" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" ><i class="fa fa-file" aria-hidden="true"></i>   Kreiraj samopotpisani sertifikat</a>
    <a routerLink="/createCertificate" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-file" aria-hidden="true"></i>   Kreiraj sertifikat</a>
    <a routerLink="/certificateList" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-list" aria-hidden="true"></i>   Izlistaj sertifikate</a>

    <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-pencil" aria-hidden="true"></i>  Izmeni podatke</a>
    <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-sign-out" aria-hidden="true"></i>  Odjavi se </a>


</div>

</body>
</html>
